<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style type="text/css">
        body {
            margin-top: 70px;
            background-color: red; /* Changed background to red */
        }
        .mv {
            color: white;
            text-align: center;
            font-family: 'Fredericka the Great', cursive;
            font-size: 75px;
        }
        #heading {
            font-family: 'Fredericka the Great', cursive;
            font-size: 100px;
            text-align: center;
            color: white;
        }
        .quote {
            color: yellow;
        }
        .lead {
            color: white;
            text-align: center;
            padding-bottom: 50px;
            font-family: 'Montserrat', sans-serif;
        }
        .founder {
            text-align: center;
            margin: 20px 0;
        }
        .founder img {
            width: 150px; /* Set appropriate size */
            height: auto; /* Maintain aspect ratio */
            border-radius: 50%; /* Circle shape for images */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><i class="fa fa-tree"></i> GGO</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="http://127.0.0.1:5000/">Home</a></li>
            <li class="active"><a href="http://127.0.0.1:5000/about">About</a></li>
            <li><a href="http://127.0.0.1:5000/project">Our Project</a></li>
            <li><a href="http://127.0.0.1:5000/issue">The Issue</a></li>
            <li><a href="http://127.0.0.1:5000/contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://127.0.0.1:5000/donate">Donate</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="row mid">
            <h1 id="heading">About Us</h1>
        </div>
    </div>
    <hr style="width:800px">

    <div class="container" id="tabs-1">
        <div class="mv">
            <span><h1>Genesis</h1></span>
            <hr style="width:100px;">
        </div>
        <p style="font-size:25px;"><i><h2 class="quote">"Empowering communities to overcome poverty."</h2></i></p>

        <p><h3 class="lead">Project Laal is a non-profit organization dedicated to combating poverty in various communities. We aim to create sustainable livelihoods, provide education, and promote social welfare through innovative programs and partnerships.</h3></p>
    </div>

    <div id="tabs-2" class="container">
        <div class="mv">
            <span><h1>Our Mission & Our Vision</h1></span>
            <hr style="width:400px;">
        </div>
        <p>&nbsp;</p>
        <table width="980" border="0">
            <tr>
                <td width="380" class="lead" style="vertical-align:top;"><span style="text-align: justify; text-justify: inter-word;">
                    Project Laal is on a mission to create a world without poverty. Our initiatives focus on empowering individuals and families to break the cycle of poverty through education, job creation, and support services.
                    <br><br>
                    We strive to work closely with communities to understand their unique challenges and develop tailored solutions that promote self-sufficiency and dignity.</span>
                </td>
                <td width="10">&nbsp;</td>
                <td width="380" class="lead" style="vertical-align:top;"><span style="text-align: justify; text-justify: inter-word;">
                    Our vision is to build a society where everyone has the opportunity to thrive, free from poverty and injustice. We aspire to foster a community spirit that uplifts everyone, creating a sustainable future for generations to come.</span>
                </td>
            </tr>
        </table>
    </div>

    <div class="container">
        <div class="mv">
            <span><h1>Meet Our Founders</h1></span>
            <hr style="width:400px;">
        </div>
        <div class="row">
            <div class="col-md-4 founder">
                <img src="https://raw.githubusercontent.com/sowad223/Project-Laal/main/313880307_412593977748115_1272675106300275861_n.jpg" alt="Golam Mostofa Mahin">
                <h4>Golam Mostofa Mahin</h4>
            </div>
            <div class="col-md-4 founder">
                <img src="https://raw.githubusercontent.com/sowad223/Project-Laal/main/325840244_1587140831770934_3288464788374488862_n.jpg" alt="Ashikul Islam">
                <h4>Ashikul Islam</h4>
            </div>
            <div class="col-md-4 founder">
                <img src="https://raw.githubusercontent.com/sowad223/Project-Laal/main/437374971_2735303356636532_6119085157866256571_n.jpg" alt="Toha Hossain">
                <h4>Toha Hossain</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 founder">
                <img src="https://raw.githubusercontent.com/sowad223/Project-Laal/main/269850481_3794790324078908_2043809905993037579_n.jpg" alt="Naimur Rahman Niloy">
                <h4>Naimur Rahman Niloy</h4>
            </div>
            <div class="col-md-4 founder">
                <img src="https://raw.githubusercontent.com/sowad223/Project-Laal/main/386274893_2132225993779628_3302540595423636628_n.jpg" alt="Ahmad Nafees Tihami">
                <h4>Ahmad Nafees Tihami</h4>
            </div>
            <div class="col-md-4 founder">
                <img src="https://raw.githubusercontent.com/sowad223/Project-Laal/main/435407904_1535220813876522_5026758704715694694_n.jpg" alt="Sowad Rahman">
                <h4>Sowad Rahman</h4>
            </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
