<!DOCTYPE html>
<html>
<head>
	<title>Contact Us</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<style type="text/css">
		#heading {
				font-family: 'Fredericka the Great', cursive;
				font-size: 100px;
				color:white;
			}
		h2 {
				font-family: 'Fredericka the Great', cursive;
				color:white;
			}
		p{
			color:white;
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
		}
		.image {
			margin-top: 50px;
		}
		body {
			margin-top:70px;
			background-color: red; /* Changed background to red */
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand"><i class="fa fa-tree"></i> GGO</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="http://127.0.0.1:5000/">Home</a></li>
	        <li><a href="http://127.0.0.1:5000/about">About</a></li>
	        <li><a href="http://127.0.0.1:5000/project">Our Project</a></li>
	        <li><a href="http://127.0.0.1:5000/issue">The Issue</a></li>
	        <li class="active"><a href="http://127.0.0.1:5000/contact">Contact</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="http://127.0.0.1:5000/donate">Donate</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h1 id="heading">Contact Us</h1>
				<h2>Project Laal</h2>
				<br>
				<p>
					Dhaka, Bangladesh
					<br>
					01999-983480
					<br>
					project.laal.24@gmail.com
					<br>
					<br>
					<a href="https://www.facebook.com/profile.php?id=61564216886531" style="color:white;">Facebook Page</a>
				</p>
			</div>
			<div class="col-sm-6 image">
				<img src="https://raw.githubusercontent.com/sowad223/Project-Laal/main/461087515_122116212668473896_625470534146826114_n.jpg" width="384" height="576" alt="Your Image"></img> <!-- Replace with your image URL -->
			</div>
		</div>
	</div>
<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
