<!DOCTYPE html>
<html>
<head>
	<title>Issue</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<style type="text/css">
		h1 {
			font-family: 'Fredericka the Great', cursive;
			font-size: 80px;
			text-align: center;
		}
		body {
			margin-top: 70px;
			background-color: red; /* Background color set to red */
			color: white;
		}
		h2 {
			font-size: 36px;
		}
		.bdy {
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			line-height: 1.6;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand"><i class="fa fa-tree"></i> Project Laal</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="http://127.0.0.1:5000/">Home</a></li>
	        <li><a href="http://127.0.0.1:5000/about">About</a></li>
	        <li><a href="http://127.0.0.1:5000/project">Our Project</a></li>
	        <li class="active"><a href="http://127.0.0.1:5000/issue">The Issue</a></li>
	        <li><a href="http://127.0.0.1:5000/contact">Contact</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="http://127.0.0.1:5000/donate">Donate</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<div class="container bdy">

		<h1>THE ISSUE OF Poverty</h1>
		<hr size="10px">
		<h2>Understanding Poverty</h2>
		<p><strong>Poverty</strong> is a complex and multifaceted issue that affects millions of people worldwide. It is defined as the state in which individuals lack sufficient financial resources to meet their basic needs for food, shelter, and healthcare. In the context of Project Laal, addressing poverty is a crucial part of creating sustainable development and improving the quality of life for underprivileged communities.</p>

		<hr>
		<h2>Causes of Poverty</h2>
		<p>Poverty arises from various interrelated factors, including:</p>
		<ul>
			<li>Unemployment and underemployment</li>
			<li>Lack of access to quality education</li>
			<li>Health issues and lack of healthcare access</li>
			<li>Social inequality and discrimination</li>
			<li>Environmental degradation impacting livelihoods</li>
		</ul>

		<hr>
		<h2>Impact of Poverty on Communities</h2>
		<p>The effects of poverty are devastating and often perpetuate a cycle of disadvantage:</p>
		<ul>
			<li>Increased vulnerability to health problems</li>
			<li>Limited access to education and opportunities for growth</li>
			<li>Food insecurity and malnutrition</li>
			<li>Social exclusion and marginalization</li>
			<li>Higher rates of crime and instability</li>
		</ul>

		<hr>
		<h2>Project Laal's Response</h2>
		<p>Project Laal is committed to alleviating poverty through various initiatives:</p>
		<ul>
			<li>Providing education and vocational training for skill development</li>
			<li>Implementing health programs to ensure access to basic healthcare</li>
			<li>Encouraging sustainable agricultural practices to enhance food security</li>
			<li>Promoting economic empowerment through microfinance and support for local businesses</li>
		</ul>
	</div>
<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
