<!DOCTYPE html>
<html>
<head>
	<title>Project</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<style type="text/css">
		body {
			margin-top: 70px;
			background-color: red; /* Changed background to red */
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
		}
		#heading {
			font-family: 'Fredericka the Great', cursive;
			font-size: 100px;
			color: white;
		}
		h2 {
			font-family: 'Fredericka the Great', cursive;
			color: white;
		}
		p {
			color: white;
			font-family: 'Montserrat', sans-serif;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand"><i class="fa fa-tree"></i> GGO</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="http://127.0.0.1:5000/">Home</a></li>
	        <li><a href="http://127.0.0.1:5000/about">About</a></li>
	        <li class="active"><a href="http://127.0.0.1:5000/project">Our Project</a></li>
	        <li><a href="http://127.0.0.1:5000/issue">The Issue</a></li>
	        <li><a href="http://127.0.0.1:5000/contact">Contact</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="http://127.0.0.1:5000/donate">Donate</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<div class="container">
		<h1 id="heading">Our Projects</h1>
		<div class="row">
			<div class="col-sm-6">
				<h2>Project Flood Relief Comilla</h2>
				<p>
					<strong>Location: </strong>Comilla, Bangladesh<br>
					<strong>Objective: </strong>To provide immediate assistance to communities affected by flooding.<br>
					<strong>Impact: </strong>This project aims to supply clean drinking water, food, and temporary shelter to those displaced by floods. We also focus on long-term recovery efforts, including rebuilding homes and infrastructure.
				</p>
			</div>
			<div class="col-sm-6">
				<img src="https://raw.githubusercontent.com/sowad223/Project-Laal/main/461750523_122117719346473896_1527659900757980504_n.jpg" width="500px" height="300px" alt="Flood Relief">
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-6">
				<h2>Project Clean Dhaka</h2>
				<p>
					<strong>Location: </strong>Dhaka, Bangladesh<br>
					<strong>Objective: </strong>To clean and restore public spaces affected by waste and pollution.<br>
					<strong>Impact: </strong>This initiative involves organizing community clean-up drives, educating residents about waste management, and establishing recycling programs to promote a cleaner environment.
				</p>
			</div>
			<div class="col-sm-6">
				<img src="https://raw.githubusercontent.com/sowad223/Project-Laal/main/461087423_122115883346473896_1075186507794316481_n.jpg" width="500px" height="300px" alt="Clean Dhaka">
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-6">
				<h2>Project Sustainable Livelihoods</h2>
				<p>
					<strong>Location: </strong>Dhaka, Bangladesh<br>
					<strong>Objective: </strong>To empower flood-affected families through sustainable livelihood options.<br>
					<strong>Impact: </strong>This project aims to provide vocational training and resources to help families generate income, reducing their dependency on aid and fostering resilience against future disasters.
				</p>
			</div>
			<div class="col-sm-6">
				<img src="https://raw.githubusercontent.com/sowad223/Project-Laal/main/461777197_122117720486473896_652622307952560507_n.jpg" width="500px" height="300px" alt="Sustainable Livelihoods">
			</div>
		</div>
		<hr>
	</div>
<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
